.acc-info-container {
    background-color: #fff;
    padding: 5px 5% 15px 5%;
    margin: 40px auto 50px auto; 
    width: 85%;
    max-width: 1200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-title-container {   
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex: 1 1 auto;
}

.form-label {
    font-weight: bold;
    color: #333;
    width: auto;
    flex-shrink: 0;
}
.general-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.middle-initial { max-width: 170px; }

.btn-submit-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #32749a;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .form-title-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .row {
        flex-direction: column;
        gap: 15px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .general-input {
        max-width: 100%;
        width: 100%;
    }
    
    .middle-initial { max-width: 100px; }

    .employment-date { max-width: 200px; }

    .hours-input { max-width: 230px; }
}