.acc-info-container {
    background-color: white;
    padding: 5px 40px 15px 40px;
    margin: 40px auto 50px auto; 
    width: 85%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.form-title-container {   
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-label {
    font-weight: bold;
    color: #333;
    width: auto;
    flex-shrink: 0;
}
.general-input {
    width: 270px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.middle-initial {
    max-width: 100px;
}

.employment-date {
    max-width: 150px;
}

.hours-input {
    max-width: 180px;
}


.btn-submit-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.btn-submit {
    background-color: #32749a;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}