* {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    margin: 30px auto 15px auto;
    padding: 5px 5%;;
}

.welcome-message-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.8rem;
    margin: 10px auto 10px 0;
}

.live-clock-container {
    font-family: 'Courier New', Courier, monospace;
}

#current-date, #current-time {
    display: inline-block;
    vertical-align: baseline;
}

#current-date {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    margin-right: 10px;
}

#current-time {
    font-size: 1.2rem;
    font-weight: 600;
    color: #32749a;
}

.content-container, .left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.left-container {    
    width: 35%;
    flex-direction: column;
}

.left-child-container { flex: 1; }

.left-child-container:hover { 
    cursor: pointer; 
    background-color: #f9f9f9;
}

.current-interns-number, .current-pending-requests-number {
    width: 100%;
    background-color: #fff;
    padding: 5px 13px 15px 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.real-time-notif-container {        
    width: 60%;
    height: 380px;
    flex-direction: column;
    background-color: #fff;
    padding: 5px 13px 15px 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex: 1;
    text-align: center;
}

.container-label {
    margin: 0;
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: #333 1px solid;
}

.result-container {
    font-size: 18px;
}