html body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
    margin: 0;
    /*overflow-y: hidden;*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-left, .header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-logo, .user-avatar {
    height: 60px;
    width: auto;
}

.dashboard-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.username {
    font-size: 1rem;
}

.user-menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}

.nav-bar {
    background-color: #32749a;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.95rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item::after {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-item:hover {
    font-weight: 600;
}

.nav-item.active {
    border-bottom: 1px solid #ffffff;
    font-weight: 800;
    cursor: default;
}



.show { 
    display: block !important; 
}