* {    
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    margin: 30px auto 15px auto;
    padding: 5px 5%;;
}

.welcome-message-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: #333 1px solid;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.8rem;
    margin: 10px auto 10px 0;
}

.live-clock-container {
    font-family: 'Courier New', Courier, monospace;
}

#current-date, #current-time {
    display: inline-block;
    vertical-align: baseline;
}

#current-date {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    margin-right: 10px;
}

#current-time {
    font-size: 1.2rem;
    font-weight: 600;
    color: #32749a;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
}

.account, .progress-bar, .request-status-tracker {
    background-color: #fff;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    width: 100%;
}

.account, .progress-bar {
    width: 100%;
    margin: 0;   
}

.request-status-tracker { 
    width: 72%; 
    margin: 0;
}

.container-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-bottom: #333 1px solid;
    padding-bottom: 10px;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acc-labels {
    display: flex;
    align-items: baseline;
    font-size: 17px;
    gap: 10px;
}

.progress-track {
    width: 100%;
    height: 25px;
    background-color: #222;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    background-color: #32749a;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #333;
    font-weight: 600;
}

@media (max-width: 1100px) {

    .welcome-message-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-bottom: 15px;
    }

    .welcome-message {
        font-size: 1.5rem; 
        margin: 0;
        border-bottom: none; 
    }

    .live-clock-container {
        text-align: left;
    }
    
    .sub-container {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .left-container {
        width: 100%;
    }

    .account, .progress-bar {
        width: 100%;
        flex: none;
    }

    .request-status-tracker { 
        width: 100%;
        order: 2; 
    }
}