body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registrationContainer {
    background-color: white;
    padding: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.registrationTitle {
    text-align: center;
    margin-bottom: 5px;
}

.registrationContainer p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.formLabel {
    font-weight: bold;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.formInput {
    width: 75%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
}

.registerButton {
    background-color: #32749a;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}